body {
    display: flex;
    height: 100vh;
}

main {
    border-radius: 32px;
    background-color: white;
    margin-top: 70;
    margin-left: 260;
    margin-bottom: 110;
    margin-right: 260;
    padding: 16px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 24px;
}

.fo {
    padding-left: 16px;
    padding-right: 24px;
    padding-top: 126px;
    padding-bottom: 175px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    min-width: 720px;
    min-height: 688px;
}

.remember {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.final {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.final> :nth-child(2) {
    color: #FF9E4F;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.login-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background-color: #FF9D50;
}

.dhan {
    color: #1F2523;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: stretch;
}

.banner {
    position: relative;
    flex: 1;
    background-color: "#FFF9D9";
    display: flex;
    width: 616px;
    height: 688px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 24px;
    background: #FFF9D9;
}

.banner img {
    width: 500px;
    height: 405px;
    position: absolute;
    right: 38px;
    top: 100px;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    position: absolute;
    left: 48px;
    bottom: 38px;
    S
}